{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h1>Welcome to our Job Platform</h1>
    <p>Please select your role to login or register</p>
{% endblock %}