{% extends 'base.html.twig' %}

{% block title %}Accueil - Job Platform{% endblock %}

{% block body %}
    <h1>Welcome to Job Platform</h1>
    <p>Please select your role from the navigation bar.</p>
{% endblock %}