{% extends 'baseBack.html.twig' %}

{% block title %}New Response{% endblock %}

{% block body %}
    <h1>Create new Response for Complaint #{{ reclamation.id }}</h1>

    {{ include('reponse_reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-secondary">Back to Complaint</a>
{% endblock %}